@model IEnumerable<MVC5RealWorld.Models.DB.Chore>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2> Unassigned </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BronzeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilverValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoldValue)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MaturityLevel)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsAssigned == false || item.AssignedTo == "unassigned")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BronzeValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SilverValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoldValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaturityLevel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DeadlineDate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ChoreID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ChoreID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ChoreID })
                </td>
            </tr>
        }
    }

</table>
<h2> Completed </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BronzeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilverValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoldValue)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MaturityLevel)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsCompleted == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BronzeValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SilverValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoldValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaturityLevel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DeadlineDate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ChoreID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ChoreID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ChoreID })
                </td>
            </tr>
        }
    }

</table>
<h2> Assigned </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BronzeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilverValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoldValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MaturityLevel)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.AssignedTo != "unassigned")
    {
    <tr> 
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BronzeValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SilverValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoldValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedTo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MaturityLevel)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DeadlineDate)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ChoreID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ChoreID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChoreID })
        </td>
    </tr>
    }
}

</table>
